#!/bin/bash

# make aliases sudo-able
alias sudo="sudo "

# npm script shortcuts
alias i="ni"
alias t="nr test"
alias b="nr build"
alias tb="nr test-build"
alias d="nr dev"
alias dd="nr debug"
alias s="nr serve"
alias de="nr dev-example"
alias be="nr build-example"
alias vr="vitest run"
alias nr="npm run"

# npm shortcuts that only list top-level modules
alias l="yarn list --depth=0 2>/dev/null"
alias lg="npm list -g --depth=0 2>/dev/null"

# process finding
alias pg="pgrep -lf"

# proxy
hostip=$(cat /etc/resolv.conf | grep nameserver | awk '{ print $2 }')
alias fuckgfw='export https_proxy="http://${hostip}:1080";export http_proxy="http://${hostip}:1080";'
alias unfuck='unset https_proxy;unset http_proxy'
alias sgit='git config --global http.proxy "http://${hostip}:1080";git config --global https.proxy "http://${hostip}:1080";'
alias usgit='git config unset http.prory;git config unset https.proxy'