#!/bin/bash

# make aliases sudo-able
alias sudo="sudo "

# directory navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# some ls aliases
alias la="ls -A"
alias ll="ls -Al"

# File size
alias fs="stat -f '%z bytes'"

# git shortcuts
alias gs="git status"
alias ga="git add ."
alias gc="git commit"
alias gb="git branch"
alias gd="git diff"
alias gco="git checkout"
alias gp="git push"
alias gl="git pull"

# npm shortcuts that only list top-level modules
# ! overrides the line-number utility
npm_filter="| grep -v '^[ │]' | sed s/┬/─/g"
alias ng="npm list -g $npm_filter"
alias nl="npm list $npm_filter"