#!/bin/bash

# make aliases sudo-able
alias sudo="sudo "

# directory navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# some ls aliases
alias la="ls -A"
alias ll="ls -Al"

# npm script shortcuts
alias nr="yarn"
alias t="yarn test"
alias b="yarn build"
alias d="yarn dev"
alias s="yarn serve"
alias de="yarn dev-example"
alias be="yarn build-example"

# git shortcuts
alias gs="git status"
alias ga="git add -A ."
alias gc="git commit"
alias gb="git branch"
alias gd="git diff"
alias gco="git checkout"
alias gp="git push"
alias gl="git pull"
alias gt="git tag"
alias gm="git merge"
alias gg="git log --graph --pretty=format:'%C(bold red)%h%Creset -%C(bold yellow)%d%Creset %s %C(bold green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gcp="git cherry-pick"
alias gbg="git bisect good"
alias gbb="git bisect bad"

# blogging shortcuts
alias hs="hexo server"
alias hd="rm db.json && hexo generate && hexo deploy"
alias blog="cd ~/Personal/blog && subl . && hexo server"

# npm shortcuts that only list top-level modules
alias l="yarn list --depth=0 2>/dev/null"
alias lg="npm list -g --depth=0 2>/dev/null"

# process finding
alias pg="pgrep -lf"

# appengine deploy
alias dp="appcfg.py update . --oauth2"

# run jasmine tests
alias jj="jasmine-node --verbose test/unit/specs/"

# checked out version of meteor
alias m="~/Work/meteor/meteor"
